{% extends "base.html" %}

{% block content %}
<h1>{{record.moji_data}}</h1>
<br>
<form method="POST" action="{{url_for('user.user_index', userid=userid)}}">
    <input type="text" value="" id="spell" name="spell" placeholder="請輸入羅馬拼音">
    <button type="submit">確認</button>
</form>

<br>

<select name="moji_list" id="moji_list">
    <option selected value="{{now_type.type}}">{{now_type.name}}</option>
    {% for type in moji_type %}
        <option value="{{type.type}}">{{type.name}}</option>
    {% endfor %}
</select>

<script>
    const input_element = document.getElementById("spell")

    window.onload = function() {
        input_element.focus();
    }

    document.getElementById("moji_list").addEventListener("change", function(){
        var selected_value = this.value
        data = {
            'type' : selected_value
        }
        fetch("/moji/change/" + {{userid}}, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.text())
            .then(data => {
                window.location.href = '/moji/' + {{userid}}
            })
            .catch(error =>{
                window.location.href = '/moji/' + {{userid}}
            })
    })
</script>
<br>

{% if message %}
{{message}}
{% endif %}
{% endblock content %}