{% extends "base.html" %}

{% block content %}
<div class="practice">
    <div>
        <h1 id="moji">{{moji.moji}}</h1>
    </div>
    <!-- <audio controls>
        <source src="/speak" type="audio/mp3">
        Your browser does not support the audio element.
    </audio> -->
    <div id="countdown"></div>
    <div>
        <input type="text" value="" id="spell" name="spell" placeholder="請輸入羅馬拼音">
        <input type="button" value="確認" onclick="next_moji()">
    </div>

    <div class="return_message">
        {% if message %}
            <h2>{{message}}</h2>
        {% endif %}
    </div>

    <input type="button" value="返回" onclick="window.location.href='/'">

    <div class="records" >
        <table>
            <thead>
                <td>編號</td>
                <td>日文</td>
                <td>答案</td>
                <td>回答</td>
                <td>正確</td>
            </thead>
            <tbody id="records">
            </tbody>
        </table>
    </div>
</div>
<script>
    const input_element = document.getElementById("spell")

    window.onload = function() {
        input_element.focus();
    }


    input_element.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            next_moji();
        }
    });


    function next_moji() {
        spell = document.getElementById('spell').value
        data = {
            "spell" : spell
        }
        fetch("/timer/" + "{{userid}}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            moji = document.getElementById("moji")
            moji.innerText = data['moji']
            get_records();
            input_element.value = "";
            input_element.focus();
        })
        .catch(error =>{
            console.log(error)
        })
    }

    function clean_table_datas() {
        records = document.getElementById("records")
        records.innerHTML  = ''
    }

    function get_records() {
        clean_table_datas()
        fetch("/timer/" + "{{userid}}" + "/records/" , {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            records = document.getElementById("records")
            data.records.forEach(record => {
                newRow = document.createElement('tr');
                var cell1 = document.createElement('td');
                cell1.textContent = record['count'];
                newRow.appendChild(cell1);

                var cell2 = document.createElement('td');
                cell2.textContent = record['moji_data'];
                newRow.appendChild(cell2);

                var cell3 = document.createElement('td');
                cell3.textContent = record['moji_spell'];
                newRow.appendChild(cell3);

                var cell4 = document.createElement('td');
                cell4.textContent = record['answer'];
                newRow.appendChild(cell4);

                var cell5 = document.createElement('td');
                if (record['is_correct']){
                    cell5.textContent = "O";
                }
                else{
                    cell5.textContent = "X";
                }
                
                newRow.appendChild(cell5);

                records.appendChild(newRow);
            });
        })
        .catch(error =>{
            console.log(error)
        })
    }


    // TODO 倒數計時要黨F5 重新整理
    document.addEventListener('DOMContentLoaded', function() {
        var countdownElement = document.getElementById('countdown');
        var secondsLeft = {{user.time}};

        function updateCountdown() {
            countdownElement.textContent = '倒數計時 : ' + secondsLeft;
        }

        function countdown() {
            if (secondsLeft > 0) {
                updateCountdown();
                secondsLeft--;
                setTimeout(countdown, 1000); 
            } else {
                complete_timer();
            }
        }
        countdown();
    });


    function complete_timer() {
        data = {}
        fetch("/timer/" + "{{userid}}" + "/over", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            window.location.href = '/rank/'
        })
        .catch(error =>{
            console.log(error)
        })
    }

    document.addEventListener('keydown', function(event) {
            // console.log('Keycode:', event.keyCode);
            if (event.keyCode === 116 ) {
                event.preventDefault();
                console.log('F5 Pressed!');
            }
        });
</script>

{% endblock content %}