{% extends "base.html" %}
{% block content %}

<h1>五十音練習 Japanese Practice</h1>
<div class="btn">
    <input type="button" value="練習 Practice" onclick="to_practice()">
    <input type="button" value="計時賽 Timer" onclick="to_timer()">
    <input type="button" value="關於我 About" onclick="to_about()">
</div>

<script>
    function to_practice() {
        data = {}
        fetch("/practice/", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            window.location.href = '/practice/' + data['user']
        })
        .catch(error => {
            window.location.href = '/'
        })
    }

    function to_timer() {
        window.location.href = '/timer/'
    }

    function to_about() {
        window.location.href = 'https://github.com/m124578n/japanese_practice.git'
    }
</script>

{% endblock content %}